.new {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px 0;
}

h3 {
  padding: 15px 8px;

  width: 50%;
  margin: 15px auto;

  background-color: #A14A76;
  color: white;

  border-radius: 10px;
}

.new-row {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new:nth-child(even) .new-row {
  flex-direction: row-reverse;
}

.new-item {
  width: 50%;
  box-sizing: border-box;
}

main {
  width: 90%;
  max-width: 1000px;
}