.new {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  border-radius: 20px;

  margin-top: 30px;
}

h3 {
  padding: 15px 8px;

  width: 50%;
  margin: 15px auto;

  background: #A14A76;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #A14A76);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #A14A76);

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  color: white;

  border-radius: 10px;
}

.new-row {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new:nth-child(even) .new-row {
  flex-direction: row-reverse;
}

.new-item {
  width: 50%;
  box-sizing: border-box;
}

main {
  width: 90%;
  max-width: 1000px;
}