.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new:nth-child(even) .new-row {
  flex-direction: row-reverse;
}

.new-item {
  width: 50%;
}