.tea--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.tea {
  flex: 1;
  margin: 10px;
}

.tea img {
  width: 100%;
}

h2 {

  padding: 15px 8px;

  width: 50%;
  margin: 10px auto;

  background: #A14A76;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #A14A76);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #A14A76);

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;

  border-radius: 10px;
}

h3 {
  padding: 10px 6px;

  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92AD94, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92AD94, #1D976C); /* W3C, IE 10+/ Edge, */

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  margin-bottom: 8px;

  color: black;

  border-radius: 10px;
}